* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  color: #54aedb;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  text-decoration: underline;
}

header {
  height: 90px;
  background-color: #283131;
  border-bottom: 2px solid black;
}

header .navbar {
  height: 100%;
  margin: 0 20px;
  position: relative;
}

header .navbar .logo {
  color: #54aedb;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

header .navbar .navigazione {
  height: 100%;
  width: 30%;
  margin: auto;
}

header .navbar .navigazione .nav-menu {
  height: 100%;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

