* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #cae9eb;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
}

h2,
h3,
h4,
h5 {
  font-weight: normal;
}

h2 {
  font-size: 35px;
  margin: 10px 0;
}

h3 {
  font-size: 25px;
  margin: 7px 0;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

img {
  width: 100%;
}

hr {
  margin: 40px auto 20px;
}

[class*=-list] > .container {
  width: 70%;
  margin: auto;
}

[class*=-show] > .container {
  width: 40%;
  margin: auto;
}

.section {
  padding: 50px 20px;
}

.filter {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.filter .show-info {
  display: none;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.filter:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.filter:hover .show-info {
  display: block;
}

.caption {
  color: #869596;
}

[class*=-list] [class*=-cover] {
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
}

header {
  height: 90px;
  border-bottom: 2px solid #cae9eb;
  background-color: #283131;
}

header .navbar {
  height: 100%;
  margin: 0 20px;
  position: relative;
}

header .navbar .logo {
  color: #54aedb;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

header .navbar .navigation {
  height: 100%;
  width: 30%;
  margin: auto;
}

header .navbar .navigation .nav-menu {
  display: flex;
  height: 100%;
  padding-bottom: 10px;
  justify-content: space-between;
  align-items: flex-end;
}

header .navbar .navigation .nav-menu .nav-link {
  color: #54aedb;
}

header .navbar .navigation .nav-menu .nav-link:hover {
  text-decoration: underline;
}

main {
  height: calc(100vh - 90px);
  overflow-x: auto;
  background-color: #1a1e1e;
  text-align: center;
}

main > [class*=album-] .album-title {
  text-transform: uppercase;
}

main > [class*=album-] .album-artist {
  font-style: italic;
}

main .redirect {
  display: block;
  text-align: right;
  margin-top: 20px;
}

main #album-list .container .list {
  display: flex;
  flex-wrap: wrap;
}

main #album-list .container .list .album {
  width: calc(100% / 4);
  padding: 20px;
}

main #album-list .container .list .album > span {
  display: block;
}

main #album-list .container .list .album .caption {
  font-size: 15px;
}

main #album-list .container .list .album-title {
  margin-bottom: 5px;
}

main #album-show .show-top .album-cover {
  width: 60%;
  margin: auto;
  margin-bottom: 20px;
}

main #album-show .show-top .album-info .caption {
  font-size: 18px;
}

main #album-show .show-bottom {
  text-align: left;
}

main #album-show .show-bottom .songs-list .song {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

