header {
    height: $header_altezza;
    background-color: $colore_secondario;
    border-bottom: 2px solid black;

    .navbar {
        height: 100%;
        margin: 0 20px;
        position: relative;

        .logo {
            @include logo;
        }
        .navigazione {
            height: 100%;
            width: 30%;
            margin: auto;

            .nav-menu {
                height: 100%;
                padding-bottom: 10px;
                @include flex;
                justify-content: space-between;
                align-items: flex-end;

                .nav-li {

                }
            }
        }
    }
}
