header {
    @include header;

    .navbar {
        height: 100%;
        margin: 0 20px;
        position: relative;

        .logo {
            @include logo;
        }
        .navigation {
            @include navigazione;

            .nav-menu {
                @include nav_menu;
            }
        }
    }
}
